# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Ignores git vscode config
.vscode/

# Docs
docs/

# Dotenv file
.env
.env.*

# Coverage file
lcov.info

# Soldeer dependencies
dependencies/

DS_Store
.DS_Store
